<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server" value="127.0.0.1"/>
    <add key="Port" value="4444"/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>